html
    head
        title A web playground for TLang
        link(rel="stylesheet" href="./style.css")
    body
        div
            div#web-container
                div#code-area
                    div#tlang-container
                        textarea#tlang-editor.editor
                    div#command-container
                        button#btn-compile Compile
                        button#btn-run Run
                    div#mips-container
                        textarea#mips-editor.editor
                pre#console-area
        script(src="./bundle.js")
