html
    head
        title A web playground for TLang
        script(src="./entry.js")
        link(rel="stylesheet" href="./style.css")
    body
        div
            div#web-container
                div#tlang-container
                div#mips-container
                    div#mips-code
                    div#mips-commands
